/* responsive for smaller devices */
@media screen and (max-width: 576px) {
  /* header section */
  .container {
    width: 90%;
  }
  .banner {
    flex-direction: column;
    gap: 48px;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .free-video {
    top: 58%;
  }
  .free-tutorial {
    top: 73%;
    right: 48%;
  }
  .join {
    margin-left: 0px;
    margin-top: 10px;
  }
  /* habit section */
  .habit-card {
    grid-template-columns: 1fr;
  }
  /* run section */
  .run {
    flex-direction: column;
    gap: 31px;
    padding-left: 35px;
  }
  .run button {
    width: 100%;
  }
}
/* responsive for medium size devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* header section */
  nav {
    gap: 30px;
  }
  .banner {
    flex-direction: column;
    gap: 100px;
  }
  .free-video {
    top: 47%;
    right: 12%;
  }
  .free-tutorial {
    top: 73%;
    right: 60%;
  }
  /* habit section */
  .habit-card {
    grid-template-columns: repeat(2, 1fr);
  }
  /* run section */
  .run {
    width: 90%;
    padding-left: 35px;
  }
  .run button {
    width: 70%;
  }
}
