/* -----responsive for smaller devices----- */
@media screen and (max-width: 576px) {
  /* header section */
  .container {
    width: 90%;
  }
  nav {
    align-items: center;
  }
  .banner {
    flex-direction: column;
    gap: 48px;
  }
  .banner-content p {
    width: 70%;
  }
  .banner-content h1 {
    font-size: 2.25rem;
    width: 70%;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .free-video {
    top: 58%;
  }
  .free-tutorial {
    top: 73%;
    right: 48%;
  }
  .join {
    margin-left: 0px;
    margin-top: 10px;
  }
  /* habit section */
  .habit-card {
    grid-template-columns: 1fr;
  }
  .habit h1 {
    font-size: 2rem;
  }
  .habit-description {
    width: 100%;
  }
  /* run section */
  .run {
    flex-direction: column;
    gap: 31px;
    padding-left: 35px;
  }
  .run button {
    width: 100%;
  }
  .run h1,
  .run p {
    width: 90%;
  }
  /* training section */
  .purple-card,
  .black-card {
    display: none;
  }
  .row-1 {
    grid-template-columns: 1fr 1fr;
    height: 150px;
  }
  .row-2 {
    grid-template-columns: 0.9fr 1.1fr;
    height: 150px;
  }
  /* BMI section */
  .bmi-calculator-container {
    flex-direction: column;
    gap: 50px;
  }
  .bmi-content {
    width: 95%;
  }

  .bmi-calculator {
    width: 100%;
  }
  /* team section */
  .team-card-container {
    grid-template-columns: 1fr;
  }
  .team-description {
    width: 100%;
  }
  /* footer section */
  .footer-container {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 30px;
  }
  footer hr {
    width: 90%;
  }
  /* our quality section */
  .quality-container {
    grid-template-columns: 1fr;
  }
}

/*----- responsive for medium size devices----- */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* header section */
  nav {
    gap: 30px;
  }
  .banner {
    flex-direction: column;
    gap: 100px;
  }
  .banner-content p,
  .banner-content h1 {
    width: 90%;
  }
  .free-video {
    top: 47%;
    right: 12%;
  }
  .free-tutorial {
    top: 73%;
    right: 60%;
  }
  /* habit section */
  .habit-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .habit-description {
    width: 80%;
  }

  /* run section */
  .run {
    width: 90%;
    padding-left: 35px;
  }
  .run p,
  .run h1 {
    width: 80%;
  }
  .run-content {
    width: 60%;
  }
  .run button {
    width: 70%;
  }
  /* training section */
  .training {
    width: 95%;
  }
  .green-card {
    background-position: center;
  }
  .row-1,
  .row-2 {
    height: 150px;
  }
  /* BMI section */
  .bmi-calculator-container {
    flex-direction: column;
    gap: 50px;
  }
  .bmi-content {
    width: 90%;
  }
  .bmi-calculator-container {
    width: 90%;
  }

  .bmi-calculator {
    width: 100%;
  }
  /* team section */
  .team {
    width: 90%;
  }
  /* footer section */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 30px;
  }
  .footer-content {
    grid-column: span 2;
  }
  /* our quality section */
  .quality-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
