/* responsive for smaller devices */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .banner {
    flex-direction: column;
    gap: 48px;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .free-video {
    top: 58%;
  }
  .free-tutorial {
    top: 73%;
    right: 48%;
  }
  .join {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    gap: 30px;
  }
  .banner {
    flex-direction: column;
    gap: 100px;
  }
  .free-video {
    top: 47%;
    right: 12%;
  }
  .free-tutorial {
    top: 73%;
    right: 60%;
  }
}
