@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

body {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
/* ----shared styles starts here---- */
.container {
  width: 80%;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.btn-primary {
  background-color: #e6533c;
  color: white;
  padding: 12px 24px;
  border-radius: 46px;
  border: none;
  font-size: 1.125rem;
  font-weight: 600;
}
.section-title {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
.section-description {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff80;
}
/* ----shared styles ends here---- */
/* ------header section starts here---- */
/* nav styles */
nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 32px;
}
.logo {
  font-size: 2.25rem;
  font-weight: 800;
  color: #e6533c;
  font-style: italic;
}
.hamburger {
  display: none;
  color: white;
  font-size: 18px;
}
.menu ul li {
  list-style: none;
  margin-right: 47px;
}
.nav-links {
  text-decoration: none;
  color: white;
}
.menu {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* banner styles */
header {
  background-image: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  margin-bottom: 100px;
}
.banner {
  position: relative;
  justify-content: space-between;
}
.banner-image img {
  width: 100%;
}
.shape {
  font-family: "Miama", sans-serif;
  font-size: 4.875rem;
  font-weight: 400;
  color: white;
}
.banner-content h1 {
  font-size: 4.875rem;
  font-weight: 900;
  color: white;
  line-height: 120%;
}
.banner-content p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff80;
  padding-top: 28px;
  padding-bottom: 28px;
}
.join {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  margin-left: 14px;
}

.free-video {
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 17px 24px;
  position: absolute;
  top: 15%;
  right: -3%;
}
.free-tutorial {
  background-color: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(7px);
  align-items: center;
  padding: 19px 24px 17px 20px;
  position: absolute;
  top: 75%;
  right: 21%;
}

.number {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}
.text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffffa6;
}
.free-tutorial div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6533c;
  margin-right: 8px;
}
.number-2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}
.text-2 {
  font-size: 1rem;
  font-weight: 400;
  color: #efede8a6;
}
.banner-content {
  flex-direction: column;
  justify-content: center;
}

/* ------header section ends here---- */
/* ------habit section starts here---- */
.habit {
  text-align: center;
  margin-bottom: 100px;
}
.habit-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 58px;
}
.habit h1 {
  margin-bottom: 14px;
}
.card img {
  border-radius: 50%;
  border: 5px solid #191919;
}
.card h5 {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
}
.card img {
  width: 100%;
}

.card p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff80;
}
/* ------habit section ends here---- */
/* ------run section starts here---- */
.run {
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  padding: 30px 35px 30px 54px;
  margin-bottom: 100px;
}
.run img {
  border-radius: 18px;
}
.run button {
  padding: 16px 40px;
}
.run p {
  padding-top: 14px;
  padding-bottom: 34px;
}
.run-image img {
  width: 100%;
}
/* ------run section ends here---- */
/* ------training section starts here---- */
.training {
  margin-bottom: 100px;
}
.row-1 {
  display: grid;
  height: 300px;
  grid-template-columns: 0.4fr 1fr 0.6fr;
}
.row-2 {
  display: grid;
  grid-template-columns: 0.8fr 0.5fr 0.7fr;
  height: 300px;
}
.green-card {
  background-image: url("../images/exercise1.jpg");
  background-size: cover;
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
}
.red-card {
  background-image: url("../images/exercise2.png");
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.black-card {
  background-image: url("../images/exercise3.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
}
.black-card-2 {
  background-image: url("../images/exercise4.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
}
.yellow-card {
  background-image: url("../images/exercise5.jpg");
  background-size: cover;
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
}
.purple-card {
  background-image: url("../images/exercise6.jpg");
  background-size: cover;
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
}
.training-description {
  margin-top: 14px;
  margin-bottom: 25px;
}
.green-card p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-weight: bold;
}
.red-card p {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
}
.black-card p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
}
.black-card-2 p {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
}
.yellow-card p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
}
.purple-card p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
}

/* ------training section ends here---- */
/* ------BMI section starts here---- */
.bmi {
  margin-bottom: 100px;
}
.bmi-content {
  width: 50%;
  margin: 0 auto;
}
.bmi-content p {
  margin-top: 14px;
  margin-bottom: 68px;
}

table {
  border-collapse: collapse;
}
table th {
  color: white;
}
table td {
  color: #ffffff80;
}
td {
  padding: 15px 40px 18px 15px;
}
.bmi-chart .title {
  font-weight: 500;
  color: white;
}
.bmi-calculator-container {
  justify-content: c;
  gap: 167px;
}
.bmi h2 {
  font-size: 1.75;
  font-weight: 900;
  color: white;
}
.bmi-chart h2 {
  margin-top: 52px;
  margin-bottom: 52px;
}
.bmi-calculator p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff80;
}
.bmi-calculator h2 {
  margin-top: 49px;
}

.bmi-calculator p {
  margin-top: 14px;
  margin-bottom: 34px;
  line-height: 24px;
}
.bmi-calculator {
  width: 50%;
  padding-bottom: 52px;
}
.bmi-calculator input {
  width: 45%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 20px 20px;
  border: none;
}
::placeholder {
  color: #ffffff80;
}
.bmi-calculator select {
  width: 45%;
  padding: 20px 0px 20px 20px;
  border-radius: 8px;
  border: none;
  color: #ffffff80;
  background-color: rgba(255, 255, 255, 0.1);
}
#height,
#age {
  margin-right: 12px;
  margin-bottom: 12px;
}

#activity {
  width: 93%;
}
.bmi-calculator button {
  margin-top: 20px;
  padding-left: 75px;
  padding-right: 75px;
}
.bmi-background {
  width: 100%;
  background-color: rgb(34, 34, 34);
}

/* ------BMI section ends here---- */
